<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col2-1"><strong>About:</strong>
        <ul class="contact-list">
          <li>{{ site.author }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          
<!--           <li><a href="http://www.design1a.de">design1a.de</a></li> -->
          <li><a href="http://www.math.tu-dresden.de/~spraetor">TU-Dresden/~spraetor</a></li>
        </ul>
      </div>
      
      <div class="footer-col  footer-col2-2"><strong>Summary:</strong>
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
